In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df =  pd.read_csv(r'C:\Users\revan\Desktop\ml\modular2\mlmar7\data\Advertising (1).csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
x = df.drop('sales', axis=1)
x.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [5]:
y=df['sales']
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [6]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [7]:
poly_conv = PolynomialFeatures(degree=3, include_bias=False)
final_model = LinearRegression()

In [8]:
poly_features= poly_conv.fit_transform(x)

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(poly_features,y, test_size=0.33, random_state=101) # from the parameter 'test_size' this says 33% is our testing data

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

StandardScaler()

In [11]:
scaled_x_train = scaler.transform (x_train)
scaled_x_test = scaler.transform(x_test)

In [12]:
x_test[0]

array([7.47000000e+01, 4.94000000e+01, 4.57000000e+01, 5.58009000e+03,
       3.69018000e+03, 3.41379000e+03, 2.44036000e+03, 2.25758000e+03,
       2.08849000e+03, 4.16832723e+05, 2.75656446e+05, 2.55010113e+05,
       1.82294892e+05, 1.68641226e+05, 1.56010203e+05, 1.20553784e+05,
       1.11524452e+05, 1.03171406e+05, 9.54439930e+04])

In [13]:
scaled_x_test[0]

array([-0.88585021,  1.78850357,  0.75279488, -0.94268603,  0.04504514,
       -0.24391745,  2.35286478,  1.66213511,  0.43363357, -0.85817564,
       -0.5194069 , -0.51483477,  0.48397764,  0.26923803, -0.14681754,
        2.81970897,  2.22798415,  0.9755699 ,  0.14551054])

In [14]:
from sklearn.linear_model import Ridge

In [17]:
ridge_model = Ridge(alpha=10)

In [18]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=10)

In [19]:
test_pred = ridge_model.predict(x_test)

In [20]:
from sklearn.metrics import mean_absolute_error, mean_squared_error 
mae = mean_absolute_error(y_test,test_pred)
mae

0.3930126552894761

In [22]:
rmse = np.sqrt(mean_squared_error(y_test,test_pred))
rmse

0.5579455029352857